@media (max-width: 1200px) {
  .content {
    width: 100%;
    padding: 0 20px;
  }
  .header-logo {
    margin-left: 160px;
  }
  .header {
    .header-flex {
      .header-logo {
        margin-left: -160px;
      }
    }
  }
}
@media (max-width: 1109px) {
  .contact-slide {
    padding-top: 50px;
    height: auto;
    .content {
      justify-content: center;
      padding: 0 10px;
    }
    .contact-text {
      margin: 50px auto;
    }
  }
}
@media (max-width: 1000px) {
  .technologies-slide {
    padding-bottom: 50px;
    .technolohies-card {
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 50px;
    }
    .technologies-bottom-text {
      color: #fff;
      font-style: italic;
      font-size: 14px;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-align: center;
      margin: auto;
      margin-top: 80px;
      width: 80%;
      line-height: 120%;
    }
  }
}
@media (max-width: 920px) {
  .header {
    .header-flex {
      .header-menu {
        .header-navigation {
          display: none;
        }
        .header-burger {
          display: flex;
        }
      }
    }
  }
  .map-slide {
    background-image: url("../img/gear.svg");
    background-color: #333;
    background-size: 2%;
    width: 100%;
    height: 600px;
    height: auto;
    .map-flex {
      gap: 70px;
      height: auto;
      padding: 50px 0;
      .map-map-div {
        .map {
          width: 550px;
          height: 300px;
        }
      }
    }

    .map-flex-active {
      opacity: 1;
      transition: 0.5s;
    }
  }
}
@media (max-width: 640px) {
  .main-slide {
    background-size: cover;
    background-position: left;
    .main-slide-inside {
      .main-slide-left {
        width: auto;
        box-shadow: none;
        height: calc(100vh - 90px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;
        padding: 0;
      }
    }
  }
}
@media (max-width: 600px) {
  .map-slide {
    .map-flex {
      gap: 70px;
      height: auto;
      padding: 50px 0;
      .map-map-div {
        width: 100%;
        padding: 0 10px;
        .map {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 570px) {
  .header {
    .header-flex {
      .header-logo {
        width: auto;
        transform: skew(0deg);
        margin-left: 0;
        padding-left: 0;
        height: auto;
        background-color: transparent;
        .header-logo_text {
          transform: skew(0deg);
          width: auto;
        }
        .header-text {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .main-slide {
    background-size: cover;
    background-position: left;
    height: calc(100vh - 90px);
    .main-slide-inside {
      height: calc(100vh - 90px);
      .main-slide-left {
        height: calc(100vh - 90px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .main-slide-title {
          text-align: center;
          font-size: 35px;
          line-height: 150%;
          span {
            color: $main-color;
          }
        }
        .main-slide-text {
          padding: 0 20px;
          text-align: center;
        }
        .main-slide-btn {
          button {
            background-color: $main-color;
            padding: 10px 20px;
            text-transform: uppercase;
            font-size: 20px;
            color: #fff;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            letter-spacing: 1px;
            transform: skew(-40deg);
            animation: anim-btn 5s linear infinite;
            span {
              display: block;
              transform: skew(40deg);
              animation: anim-btn-span 5s linear infinite;
            }
          }
        }
      }
    }
  }
  .title {
    font-size: 7.5vw;
    &:after {
      content: "";
      position: absolute;
      border-top: 40px solid $main-color;
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      bottom: -40px;
      left: calc(50% - 70px);
    }
  }
}
@media (max-width: 400px) {
  .contact-slide {
    padding-bottom: 100px;
    .contact-left-img {
      .contact-img {
        margin-left: 0px;
      }
      .contact-img-active {
        width: 80vw;
      }
    }
    .contact-text {
      padding: 50px 0;
      height: 70px;
      width: 70%;
      margin: auto;
      text-align: center;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      line-height: 120%;
      color: #fff;
      font-style: italic;
      padding-bottom: 10px;
    }
  }
  .map-slide {
    .map-flex {
      .map-contact-div {
        ul {
          li {
            span {
              display: block;
              color: #fff;
              font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
              font-weight: 600;
              font-size: 15px;
              position: relative;
              margin-left: 30px;
              margin-bottom: 20px;
              &:before {
                top: -5px;
                margin-left: -30px;
                content: "";
                width: 20px;
                position: absolute;
              }
            }
          }
          .name:before {
            content: url("../img/location.svg");
          }
          .tel-1:before {
            content: url("../img/telephone.svg");
          }
          .tel-2:before {
            content: url("../img/telephone.svg");
          }
          .email:before {
            content: url("../img/mail.svg");
          }
        }
      }
    }
  }
}
