@media (max-width: 1200px) {
  .content {
    width: 100%;
    padding: 0 20px;
  }
  .header-logo {
    margin-left: 160px;
  }
  .header {
    .header-flex {
      .header-logo {
        margin-left: -160px;
      }
    }
  }
}
@media (max-width: 920px) {
  .header {
    .header-flex {
      .header-menu {
        .header-navigation {
          display: none;
        }
      }
    }
  }
}
